<div class="group">
<p>
<%= image_tag(group.icon, class: "group-img") if group.icon.attached? %>
</p>

<div class="groupname">
  <p>
  <%= link_to group.name, group_path(group), class: "group-link" %>
  </p>

  <p>
    <%= group.created_at %>
  </p>
</div>

<div class="groupname">
  <p style="margin-right: 10px;">
    <strong>$</strong>
    <%= @totalamount[group.id] %>
  </p>

  <%= button_to "Delete", group_path(group), method: :delete %>

  </div>
</div>